{% set ca = salt.cmd.run('cat /var/run/secrets/kubernetes.io/serviceaccount/ca.crt') %}
{% set token = salt.cmd.run('cat /var/run/secrets/kubernetes.io/serviceaccount/token') %}
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca | base64_encode }}
    server: https://kubernetes.default.svc
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin
current-context: kubernetes-admin
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    token: {{ token }}
